
body {
  margin: 0;
  padding: 16px;
}

#file {
  margin-bottom: 16px;
  font-size: 16px;
}

canvas {
  display: block;
  margin-bottom: 16px;
  border: 1px solid black;
}

#result {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.color {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10%;
}
